Django>=5.0,<6.0
psycopg[binary]>=3.1
python-dotenv>=1.0
gunicorn>=21.2
openpyxl>=3.1
whitenoise>=6.6
opentelemetry-distro>=0.49b0
opentelemetry-exporter-otlp>=1.28.0
opentelemetry-instrumentation-django>=0.49b0
opentelemetry-instrumentation-psycopg>=0.49b0
opentelemetry-instrumentation-logging>=0.49b0
